/*************************/
/*      Addon Table      */
/*************************/

#addon_list {
	width: 100%;
	border-collapse: collapse;
}

#addon_list tr:hover {background: #1A2125;}

#addon_list td {
	padding-top: 3px;
	padding-bottom: 3px;
	letter-spacing: 0.2em;
	font-size: 0.9em;
	color: #B4D0DD;
	border-bottom: dotted 1px #3E4D53;
}

#addon_list td a.title{color: #74909D;}

#addon_list td a.title:hover{background: black;}

.has_issues, noscript {color: #ff9900;}